<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create your item!</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
</head>
<body>
    <a href="/items"><input type="submit" value="Main page" style="margin-left: 1%; margin-top: 1%;"/> </a>

    <form method="post" th:action="@{/create}" th:object="${createItemDTO}" class="form_template">
        <div><label for="name">Item name:<input type="text" name="name"/></label></div>
        <div><label for="description">Item description: <input type="text" name="description"/></label></div>
        <div><label for="author">Item author:<input type="text" name="author"/></label></div>
        <div><label for="price">Item price:<input type="text" name="price"/></label></div>
        <div><label for="imageURL"> Image link:<input type="text" name="imageURL"/></label></div>

        <div><input type="submit" value="Create!" id="submit_btn"/></div>
    </form>

    <div class="errors_container">
        <div th:each="error: ${errors}" class="error_msg">
            <span th:text="${error}"> error </span>
        </div>
    </div>

</body>
</html>