<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create your item!</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
</head>
<body class="form_page">
<div class="form_container">
    <div id="menu_btn"><a href="/items"><input type="submit" value="← Return" style="border-radius: 15px;"/></a></div>

    <form method="post" th:action="@{/create}" th:object="${createItemDTO}">
        <div class="form_template">
            <label for="name">Item name:</label><input type="text" name="name"/>
            <label for="description">Description: </label><input type="text" name="description"/>
            <label for="author">Author: </label><input type="text" name="author"/>
            <label for="price">Price: </label><input type="text" name="price"/>
            <label for="imageURL"> Image link: </label><input type="text" name="imageURL"/>
        </div>
        <div style="text-align: center; margin-top: 5%;"><input type="submit" value="Create!" id="submit_btn"/></div>
    </form>

    <div class="errors_container">
        <div th:each="error: ${errors}" class="error_msg">
            <span th:text="${error}"> error </span>
        </div>
    </div>
</div>
</body>
</html>