<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/loginRegisterStyle.css}" />
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form" method="POST" th:action="@{/registration}" th:object="${UserInfoDTO}">
            <input type="text"        name="username" placeholder="username"/>
            <input type="password"    name="password" placeholder="password"/>
            <input type="text"        name="email"    placeholder="email"/>

            <input id="submit_button" type="submit"   value="Register"/>

            <div class="errors_container">
                <div th:each="error: ${errors}" class="error_msg">
                    <span th:text="${error}"> error </span>
                </div>
            </div>

            <p class="message">Already registered? <a href="/login">Log in</a></p>
        </form>
    </div>
</div>
</body>
</html>