<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
    <title>Catalog</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
</head>
<header>
    <div class="top_navigation">
        <div class="left_corner_buttons">
            <a th:href="@{/create}"> <input type="submit" value="Create list"/></a>
            <a href="https://t.me/my_resale_notification_bot" th:target="_blank"><input style="color: #3DB8E5" type="submit" value="Telegram"/></a>
        </div>
        <div class="welcome_title">
            <h1 style="margin: 0;">BOOK STORE</h1>
            <!--        <h2 sec:authorize="isAnonymous()">          Hello,            <span class="username">Anonymous                           </span>! Don't forget to log in!</h2>-->
            <!--            <h2 sec:authorize="isFullyAuthenticated()"> Welcome back <span class="username" sec:authentication="name"> USERNAME </span>!                        </h2>-->
        </div>
        <div class="right_corner_buttons">
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/registration}"><input type="submit" value="Registration"/></a>
                <a th:href="@{/login}"><input type="submit" value="Login"/></a>
            </div>
            <div sec:authorize="isFullyAuthenticated()">
                <form method="get" th:action="@{/logout}"><input type="submit" value="Logout"/></form>
                <a th:href="@{/cart}"><input type="submit" value="Your cart"/></a>
            </div>
        </div>
    </div>

    <div class="header_back">
        <div class="back_msg">
            <h1>A book is a dream that you hold in your hands</h1>
            <h2>It's good to inherit the library, and even better to collect your own</h2>
        </div>
    </div>

    <form th:method="GET" th:action="@{/items}" class="search_bar">
        <input id="search" type="text" th:name="keyword" placeholder="Search..."/>
        <button id="btn" type="submit">Search</button>
    </form>
</header>
<body>
<div class="items_list">
    <div class="item" th:each="item:${items}">
        <a th:href="@{/items/{id}(id=${item.id})}"> <img class="book_image" th:src="@{/{link}(link=${item.imageURL})}" alt="Book image!"/></a>
        <p><strong><span th:text="${item.name}">ITEM NAME</span></strong></p>
        <p><span th:text="${#dates.format(item.createdAt, 'dd.MM / HH:mm')}">CREATION DATE </span></p>
        <strong style="font-size: 25px; text-align: center;"><span th:text="${item.price}">50</span>$</strong>

        <div th:if="${item.available}" class="buttons_container">
            <a th:href="@{/purchase/{id}(id=${item.id})}"><input class="buy_btn" type="submit" value="Buy now!"/></a>
            <form method="post" th:action="@{/cart?id={id}(id=${item.id})}"><input class="submit_input" type="submit" value="Add to cart!"/></form>
        </div>
        <div th:unless="${item.available}" class="unavailable_item">
            <strong>Item unavailable!</strong>
        </div>
    </div>
</div>
<div>
    <h2> That's all! </h2>
</div>
</body>
<footer>

</footer>
</html>