<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item page</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
<body>
    <h1>Item information:</h1>
    <div class="top_navigation">
        <div class="left_corner_buttons">
            <a href="/items"> <input type="submit" value="Main page"/> </a>
        </div>
    </div>
    <div class="item_preview">
        <img class="book_image" th:src="@{/{link}(link=${item.imageURL})}" alt="Book image!"/>
        <p><strong>Item name:       </strong> "<span th:text="${item.name}">              ITEM NAME</span>"</p>
        <p><strong>Item description:</strong> "<span th:text="${item.description}">ITEM DESCRIPTION</span>"</p>
        <p><strong>Item author:     </strong> "<span th:text="${item.author}">          ITEM AUTHOR</span>"</p>
        <p><strong>Item price:      </strong>  <span th:text="${item.price}">            ITEM PRICE</span> </p>
        <p><strong>Creator:         </strong>  <span th:text="${item.createdBy.username}"> CREATOR </span> </p>
        <p><strong>Creation date:   </strong>  <span th:text="${#dates.format(item.createdAt, 'dd.MM / HH:mm')}">   CREATION DATE </span> </p>

        <div th:if="${item.available}" class="buttons_container">
            <a th:href="@{/purchase/{id}(id=${item.id})}">                   <input class="buy_btn" type="submit" value="Buy now!"/></a>
            <form method="post" th:action="@{/cart?id={id}(id=${item.id})}"> <input class="submit_input" type="submit" value="Add to cart!"/></form>
            <a th:href="@{/delete/{id}(id=${item.id})}">                     <input type ="submit" value="Delete item!"/></a>
       </div>
        <div th:unless="${item.available}" class="unavailable_item">
            <strong>Item unavailable!</strong>
        </div>
    </div>
</body>
</html>